<div class="container">
  <div class="hero-unit">

    <h1> Play Rad Racer now! </h1>

    <h3> This game will be against <%= @player1.username %> and <%= @player2.username %>. </h3>

    

 </div>
</div>
